<header>
<mat-toolbar color="primary">
    <div class="logo">
      <img src="assets/images/hed.png" alt="Logo">
    </div>
    <div class="search-bar">
      <button mat-icon-button routerLink="/produit">
        <mat-icon>store</mat-icon>
      </button>
        <mat-form-field appearance="fill">
            <mat-label>Rechercher</mat-label>
            <input matInput placeholder="Rechercher...">
            <button mat-button matSuffix>
              <mat-icon>search</mat-icon>
            </button>
          </mat-form-field>
    
      <button mat-icon-button routerLink="/connexion">
        <mat-icon>person</mat-icon>
      </button>
      <button mat-icon-button routerLink="/panier">
        <mat-icon>🛒</mat-icon>
      </button>
      
    </div>
  </mat-toolbar>
  
</header>